# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Exam.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Hao\Documents\Coding-101\69.Programming Basics Exam - 28 March 2020\Exam\.idea\.idea.Exam\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
